*{
    margin: 0px;
}

body{
    padding-top: 0px;
    z-index: -1;
    background: #f8f8f8;
}

nav{
    height: 60px;
    z-index: 1;
    background: #fff;
}

nav h2{
    color: #5d5d5d;
    text-align: center;
    padding-top: 16.5px;
}

#btnAdd {
    background-color: #00c5d7;
    height: 70px;
    position: fixed;
    bottom: 25px;
    right: calc(50% - 25px);
    display: block;
    color: #fff;
    border-radius: 100%;
    width: 70px;
    transition: 500ms;
    border: none;
    outline: none;
    box-shadow: -2px 2px 29px 0px rgba(0,0,0,0.52);
    user-select: none;
}

#btnAdd:hover {
    cursor: default;
}

#z_plus {
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    font-weight: 600;
}

.modal{
    z-index: 100;
    width: 370px;
    height: 300px;
    position: fixed;
    bottom: 180px;
    margin-left: 40px;
    background: #fff;
    border-radius: 15px;
    animation: zoom 0.9s;
    display: none;
    box-shadow: -2px 2px 29px 0px rgba(0,0,0,0.52);
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal h1{
  color: #5d5d5d;
  text-align: center;
  margin-top: 30px;
}

#etName{
    margin-top: 20px;
}

#etDesc{
    margin-top: 15px;
}

.task-text{
    width: 330px;
    height: 45px;
    margin-left: 20px;
    border-radius: 10px;
    background: rgb(240, 240, 240);
    font-weight: 400;
    text-align: center;
    color: #5d5d5d;
    font-size: 22px;
    outline: none;
}

.task-text::placeholder{
    font-weight: 600;
}

#btn-set{
    width: 120px;
    height: 45px;
    background: #00c5d7;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 127.5px;
    box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.52);
    outline: none;
}

.home-img{
    width: 300px;
    margin: 100px 75px auto 75px;
}
